{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        We have variety of products.
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div class="row search_row_class">
    <p class="text-center search_text">You have searched for:<b>"{{query}}"</b></p>
</div>
<div class="container">
        <div class="row mx_auto">
            {% for pro in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
                <div class="card text-center" style="min-width:18rem;" >
                    <a href="{{pro.get_url}}"><img src="{{pro.image.url}}" alt="{{pro.name}}" height="200px;" width="200px;"></a>
                    <div class="card-body">
                        <h4>{{pro.name}}</h4>
                        <p>{{pro.price}}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center search_text"> No results found</p>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}